<div id="profile-update-form" class="row">
            <form class="offset-1 col-10 offset-lg-3 col-lg-6">
                <div class="bg-black px-3 py-2 rounded-1 mb-3">
                    <h2 class="text-white">User Profile</h2>
                </div>
                <div class="mb-3 mx-1">
                    <label for="login-username-input" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username-input-field" aria-describedby="emailHelp" value="{{{profile.username}}}">
                </div>
                <div class="mb-3 mx-1">
                    <label for="login-password-input" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password-input-field">
                </div>
                <div class="mb-3 mx-1">
                    <label for="first-name-input" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="first-name-input-field">
                </div>
                <div class="mb-3 mx-1">
                    <label for="last-name-input" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="last-name-input-field">
                </div>
                <div class="mb-3 mx-1">
                    <label for="email-input" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email-input-field">
                </div>
                <button id="profile-update-submit-btn" type="submit" class="btn btn-primary mx-1">Update</button>
            </form>
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="./js/profile.js"></script>
